<div class="container">
    <div class="card article">
        <div class="card-body">

            <form method="post" action="" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="titre">Titre</label>
                    <input type="text" class="form-control" id="text" required name="title" value="{{ article.title }}">
                    <span>{{ errors.title }}</span>
                    <br/>
                    <label for="contenu">Contenu</label>
                    <textarea class="form-control" id="contenu" name="content" rows="6">{{ article.content }}
                    </textarea>
                    <span>{{ errors.content }}</span>
                    <br/>
                    <label for='image'>Cliquez pour modifier l'image : </label>
                    <br/>
                    <input id='image' name="image" type="file">
                    <span>{{ errors.image }}</span>
                    <br/>
                    <br/>
                    <label for='imageMin'>Cliquez pour modifier la miniature : </label>
                    <br/>
                    <input id='imageMin' name="imageMin" type="file">
                    <span>{{ errors.imageMin }}</span>
                </div>
                <button type="submit" class="btnnn btn-warning">Envoyer</button>
            </form>
        </div>
    </div>

