{% extends "admin_layout.html.twig" %}

{% block content %}

    <div class="container">
        <h1 class="text-white titlePageAdmin">Info utilisateur de {{ user.lastname }} {{ user.firstname }}</h1>
        <div class="card user text-white text-center cardUser">
            <div class="card-body">
                <p class="card-title userFirstname">Nom :  {{ user.firstname}}</p>
                <p class="card-text userLastname">Prénom :  {{ user.lastname }}</p>
                <p class="card-text userEmail">Email :  {{ user.email }}</p>
                <p class="card-text userRegistered">Date d'inscription :  {{ user.registered |date("j F Y") }}</p>
                <p class="card-text userStatus">Status :  {{ user.status }}</p>
            </div>
        </div>

        <div class="col-md-12 text-center btnSupp">
        <a href="/admin/user/delete/{{ user.id }}" target="" data-confirm="Etes-vous certain de vouloir supprimer?">
            <button type="submit" class="btn btn-danger">Supprimer</button></a>
        </div>

        {% if not comments %}
            <h1 class="text-white">Pas de commentaire</h1>
        {% else %}
            <h1 class="text-white">Tous ses commentaires</h1>

            <table class="table table-striped text-center text-white">
                <thead class="thead-light">
                <tr>
                    <th scope="col">TITRE DE L'ARTICLE</th>
                    <th scope="col">COMMENTAIRE</th>
                    <th scope="col">DATE</th>
                    <th scope="col">SUPPRIMER</th>
                </tr>
                </thead>
                <tbody>
                {% for comment in comments %}

                    <tr>
                        <td>{{ comment.title }}</td>
                        <td>{{ comment.content }}</td>
                        <td>{{ comment.date}}</td>
                        <td>
                            <a href="/admin/comment/delete/{{ comment.id }}" target="" data-confirm="Etes-vous certain de vouloir supprimer?">
                                <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button></a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if articles %}
            <h1 class="text-white">Tous ses articles</h1>
            <table class="table table-striped text-center text-white">
                <thead class="thead-light">
                <tr>
                    <th scope="col">TITRE</th>
                    <th scope="col">DATE</th>
                    <th scope="col">CONTENU</th>
                    <th scope="col">SUPPRIMER</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>{{ article.date|date("j F Y") }}</td>
                        <td>{{ article.content|truncate(100) }}</td>
                        <td>
                            <a href="/admin/article/delete/{{ article.id }}" target="" data-confirm="Etes-vous certain de vouloir supprimer?">
                                <button type="submit"  class="btn btn-danger"><i class="far fa-trash-alt"></i></button></a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
                {% endif %}
    </div>

{% endblock content %}

