{% extends "layout.html.twig" %}

{% block content %}

    <div class="container">
        {# show an article #}
        <div class="row mt-5">
            <div class="col-12">
                <h1 class="articleTitre">{{ article.title }}</h1>
                <p class="lead">Rédigé le {{ article.date }} par {{ article.userFirstname }} {{ article.userLastname }}</p>

            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <img class="imageOneArticle" src="/assets/images/{{ article.picture }}" alt="Generic placeholder image">
            </div>
        </div>
            <div class="row d-flex mt-5">
                <div class="col-12">
                    <p class="lead">{{ article.content | raw}}</p>
                </div>
            {#</div>#}
        </div>



        <hr class="featurette-divider">

        {#Add table to show all comments#}
        <div class="row">
            <div class="col-12">
                {% if not comments %}
                <p></p>
                {% else %}
                <h5>Vos commentaires</h5>
                {% endif %}

                {% for comment in comments %}
                    <div class="list-group list-group-item flex-column align-items-center cardFond rounded">
                        <div class="d-flex w-100">
{#                            <h3>{{ comment.id }}</h3>#}
                            <p class="text-muted">commenté par : {{ comment.firstname }} {{ comment.lastname }} le : {{ comment.date }}</p>
                        </div>
                        <p class="mb-1">{{ comment.content|raw}}</p>
                        <p style="text-align: right">

                            <a href="/article/comment/signal/{{ comment.id }}" target="" data-confirm="Etes-vous certain de vouloir signaler ?">

                                <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i>Signaler ?</button></a>
                            {#                        Signaler ? <a href="/article/{{ article.id }}/comment/{{ comment.id }}">Commentaire: {{ comment.id }}</a>#}
                            <br/>
                        </p>
                    </div>


                {% endfor %}

            </div>



        </div>


        {#create a form to add a comment#}
        <div class="row">
            <div class="col-12 ">
                <form method="post" action="/article/{{ article.id }}/comment">
                    <div class="form-group">
                        <label for="content"><h5>Ajoutez un commentaire</h5></label>
                        <textarea class="form-control commentFond" id="content" name="content" rows="6"></textarea>
                    </div>
                    <div class="text-center mb-3">
                        <button type="submit" class="btnn lasuite" style="color: #FFFFFF"><strong>Envoyer</strong></button>
                        {% if errorConnexion %}
                            <div class="alert alert-danger" role="alert">
                                {{ errorConnexion }}</div>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>


    {#<br/>#}

{% endblock content %}


